<ion-item *ngIf="message" [detail]="false">
  <div slot="start" [class]="!message.read ? 'dot dot-unread' : 'dot'"></div>
  <ion-label position="stacked" class="ion-text-wrap">
    <h2>
      {{ message.fromName }}
      <span class="date">
        <ion-note>{{ message.date }}</ion-note>
      </span>
    </h2>
    <h3>{{ message.subject }}</h3>
  </ion-label>
  <ion-textarea #ita *ngIf="editing else notEditing" [(ngModel)]="message.text"
                autoGrow=true rows=1 inputmode="text"></ion-textarea>
  <ng-template #notEditing>
    <p>{{message.text}}</p>
  </ng-template>
  <ion-button slot="end" (click)="onEdit()">Edit</ion-button>
</ion-item>
